$height: 100% !default;

$primary_color: #e3565c !default;
$secondary_color: #387f7b !default;
$button_color: #f9d65d !default;
$text_color: #676767 !default;

$background_color: white !default;
$nav_background: white !default;
$body_background: #f4f7fa !default;
$shadow: #dbdde0 !default;